

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    font-family: "Lato", "sans serif";
    color: white;
    background-color: #782221;
    width: 1160px;
}

h1{
    font-family: "Lato", "sans serif";
}

.informations-dev figure, figure img {
    border-radius: 50%;
}

.informations-dev img {
    width: 200px;
}

.informations-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
   background-color: #2c1d27;
}

.menu ul {
    margin : 0;
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    list-style: none;
}
p {
    text-align:justify;
    font-family: "Raleway", "sans serif"
}

main {
    background-color: #782221;
    width: 1160px;
}

section {
    display: flex;
}

.a-propos {
    width: 300px;
}

.competences {
    background-color: white;
    border-right: 1px solid black;
}

figure {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;   
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px black;
}

#flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #2c1d27;
    
}
