@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../style.css/fonts/Raleway-VariableFont_wght.woff);
    src: url(../style.css/fonts/Raleway-VariableFont_wght.ttf), format('truetype');
}

header{
    font-family: "Lato", "sans serif";
}
p{
    font-family: "Raleway", serif;
}